.orderTotal {
  text-shadow: 0 0 30px #262684;
}

.window {
  width: 720px;
  background-color: #1c1c21;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
  cursor: default;
}

.closeIcon {
  position: absolute;
  z-index: 5;
  top: 63px;
  right: 43px;
  cursor: pointer;
}
