.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 33px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.heading {
  display: block;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 720px;
  box-sizing: border-box;
  padding: 40px;
  margin: 137px auto;
  display: flex;
  flex-direction: column;
  background-color: #1c1c21;
  border-radius: 40px;
  cursor: default;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientName {
  text-align: center;
}

.closeIcon {
  cursor: pointer;
}
