.wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-width: 1280px;
}

.header {
  justify-content: center;
  background-color: #1c1c21;
  display: flex;
  align-items: center;
}

.menuList {
  display: flex;
  align-items: center;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuItem:last-child {
  justify-self: end;
}







